.main {
  padding: 30px;
}

.main__section {
  background-color: #D9D9D9;
  padding: 20px;
  border-radius: 15px;
}

.main__section__list {
  margin-top: 25px;
}

.blue-container {
  background-color: #D3F3F8;
  border: 3px solid #1ECCE4;
  border-radius: 5px;
}

.card {
  padding: 15px;
  font-weight: bold;
}

.card:not(:first-of-type) {
  margin-top: 20px;
}

.card__row {
  margin-top: 15px;
}

.main__section__buttons {
  margin-top: 15px;
  display: flex;
}

.main__section__button {
  display: flex;
  font-size: 1.5rem;
  padding: 8px 20px;
  align-items: center;
  width: 140px;
  justify-content: space-between;
  border: 2px solid black;
  text-decoration: none;
  color: black;
  border-radius: 5px;
}
