.product-backlog__task-list {
    margin-top: 15px;
}

.product-backlog__buttons {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.product-backlog__button {
    display: flex;
    font-size: 1.5rem;
    padding: 8px 20px;
    align-items: center;
    width: 140px;
    justify-content: space-between;
}
