.sprint-backlog {
    border: 2px solid black;
}

.sprint-backlog__section {
    display: flex;
}

.sprint-backlog__section--top {
    justify-content: space-between;
    align-items: center;
}

.sprint-backlog__section--link {
    justify-content: center;
}

.sprint-backlog__section--tasks {
    flex-direction: column;
    gap: 25px;
}

.sprint-backlog__section:not(:first-of-type) {
    margin-top: 30px;
}

.sprint-backlog__section--info {
    flex-direction: column;
    gap: 25px;
}

.sprint-backlog__info__value {
    background-color: #D9D9D9;
    padding: 5px 10px;
    border-radius: 15px;
}

.sprint-backlog__info__value--margin-left {
    margin-left: 10px;
}

.sprint-backlog__dates {
    display: flex;
    justify-content: space-between;
}

.sprint-backlog__info__label {
    font-weight: bold;
}

.sprint-backlog__view-button {
    padding: 8px 15px;
    font-weight: bold;
    border-radius: 5px;
    font-size: 1rem;
}
