.sprint-card__row--dates {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.sprint-card__date {
  background-color: orange;
  width: 110px;
  border-radius: 15px;
  padding-block: 5px;
  text-align: center;
}

.sprint-card__status {
  background-color: rgb(110, 195, 110);
  padding: 5px 15px;
  border-radius: 15px;
}

.sprint-card__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sprint-card__story-point {
  background-color: #343cff;
  padding: 5px 15px;
  border-radius: 15px;
  color: white;
}

.sprint-card__row--story-point {
  display: flex;
  column-gap: 5px;
  align-items: center;
}
