.task-card__row--info {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.task-card__row--tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.task-card__story-point {
  background-color: #343cff;
  color: white;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-card__priority-rating {
  padding: 5px 10px;
  border-radius: 15px;
}

.task-card__priority-rating--low {
  background-color: #51ff42;
}

.task-card__priority-rating--medium {
  background-color: #ffd600;
}

.task-card__priority-rating--important {
  background-color: #ff7b34;
}

.task-card__priority-rating--urgent {
  background-color: #ff3737;
}

.task-card__tag {
  background-color: #4fb8f4;
  padding: 3px 8px;
  border-radius: 15px;
}

.task-card__tag--frontend {
  background-color: #ffadad;
}

.task-card__tag--backend {
  background-color: #ffd6a5;
}

.task-card__tag--api {
  background-color: #fdffb6;
}

.task-card__tag--database {
  background-color: #caffbf;
}

.task-card__tag--framework {
  background-color: #9bf6ff;
}

.task-card__tag--testing {
  background-color: #a0c4ff;
}

.task-card__tag--ui {
  background-color: #bdb2ff;
}

.task-card__tag--ux {
  background-color: #ffc6ff;
}
