.task-editor__input--textarea {
  height: 100px;
}

.task-editor__checkbox:not(:first-of-type) {
  margin-top: 5px;
}

.task-editor__input--checkbox {
  width: 20px;
  height: 20px;
}

.task-editor__label--checkbox {
  margin-left: 10px;
}
