.task-card {
    background-color: #D3F3F8;
    border: 3px solid #1ECCE4;
    border-radius: 5px;
    padding: 10px;
}

.task-card:not(:first-of-type) {
    margin-top: 10px;
}

.task-card__information {
    margin-top: 10px;
    font-weight: bold;
}

.task-card__story-point {
    background-color: #343CFF;
    color: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-card__line {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.task-card__priority-rating {
    padding: 5px 10px;
    border-radius: 15px;
}

.task-card__priority-rating--low {
    background-color: #51FF42;
}

.task-card__priority-rating--medium {
    background-color: #FFD600;
}

.task-card__priority-rating--important {
    background-color: #FF7B34;
}

.task-card__priority-rating--urgent {
    background-color: #FF3737;
}

.task-card__tags {
    margin-top: 5px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.task-card__tag {
    background-color: #4FB8F4;
    padding: 3px 8px;
    border-radius: 15px;
}

.task-card__tag--frontend {
    background-color: #FFADAD;
}

.task-card__tag--backend {
    background-color: #FFD6A5;
}

.task-card__tag--api {
    background-color: #FDFFB6;
}

.task-card__tag--database {
    background-color: #CAFFBF;
}

.task-card__tag--framework {
    background-color: #9BF6FF;
}

.task-card__tag--testing {
    background-color: #A0C4FF;
}

.task-card__tag--ui {
    background-color: #BDB2FF;
}

.task-card__tag--ux {
    background-color: #FFC6FF;
}
