.task-card__row--info {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.task-card__row--tags {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.task-card__story-point {
    background-color: #343CFF;
    color: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.task-card__priority-rating {
    padding: 5px 10px;
    border-radius: 15px;
}

.task-card__priority-rating--low {
    background-color: #51FF42;
}

.task-card__priority-rating--medium {
    background-color: #FFD600;
}

.task-card__priority-rating--important {
    background-color: #FF7B34;
}

.task-card__priority-rating--urgent {
    background-color: #FF3737;
}

.task-card__tag {
    background-color: #4FB8F4;
    padding: 3px 8px;
    border-radius: 15px;
}

.task-card__tag--frontend {
    background-color: #FFADAD;
}

.task-card__tag--backend {
    background-color: #FFD6A5;
}

.task-card__tag--api {
    background-color: #FDFFB6;
}

.task-card__tag--database {
    background-color: #CAFFBF;
}

.task-card__tag--framework {
    background-color: #9BF6FF;
}

.task-card__tag--testing {
    background-color: #A0C4FF;
}

.task-card__tag--ui {
    background-color: #BDB2FF;
}

.task-card__tag--ux {
    background-color: #FFC6FF;
}
